.wrapper{
    display: grid;
    background-color: rgb(128, 129, 129);
    /* min-height: 100vh; */
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.box{
    background-color: rgb(209, 206, 206);
    margin: 4px;
}
#box2{
    /* grid-column-start: 2; */
    grid-row-start: 4;
    /* grid-row-end: 4; */
}